.hero {
    background-color: #242424;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.hero h1 {
    border-radius: 15px;
    padding: 20px 40px;
    color: #D9D9D9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 24px;
    padding: 30px;
    color: #D9D9D9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero figure {
    position: absolute;
}

.hero figure img {
    width: 100%;
    opacity: 0.3;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        height: fit-content;
    }

    .hero-content {
        position: absolute;
        z-index: 1;
    }

    .hero figure {
        position: relative;
    }

}

@media (min-width: 1025px) {
    .hero {
        justify-content: start;
    }

    .hero-content {
        right: 150px;
    }
    .hero figure{
        position: static;
    }

    .hero figure img {
        height: 400px;
        opacity: 0.8;
    }
}